<table class="table">
  <thead class=" bg-primary">
    <tr>
      <th scope="col">No.</th>  
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Goals</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  {{#each contents}}
  <tbody>
    
    <tr>
      <th scope="row">{{@index}}</th>
      <td >{{this.name}}</td>
      <td>{{this.position}}</td>
      <td>{{this.goals}}</td>
      <td ><img  style="width:50px;height:40px;" src="{{this.image}}"></td>
    </tr>
   
  </tbody>
  {{/each}}
</table>